# 𝙄𝙂𝙉𝙊𝙍𝙀 𝙈𝙀! 🙈
node_modules/
$RECYCLE.BIN/
*.DS_Store
*.cab
*.lnk
*.log
*.mo
*.msi
*.msix
*.msm
*.msp
*.o
*.pyc
*.so
*.stackdump
*.tmp
*~
.*.sw?
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.DocumentRevisions-V100
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trash-*
.Trashes
.VolumeIcon.icns
._*
.apdisk
.com.apple.timemachine.donotpresent
.directory
.eslintcache
.fseventsd
.fuse_hidden*
.netrwhist
.nfs*
/.cache/clangd/
/.ccls-cache/
/.clang-tidy
/.clangd/
/.deps/
/.idea/
/.vs/
/.vscode/
/.zig-cache/
/tmp/
/zig-out/
Icon[]
Network Trash Folder
Session.vim
Sessionx.vim
Temporary Items
Thumbs.db
Thumbs.db:encryptable
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]*.un~
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]sw[a-p]
[Dd]esktop.ini
ehthumbs.db
ehthumbs_vista.db
nohup.out
tags
